Source: morbid
Section: python
Priority: extra
Maintainer: paul cannon <pik@debian.org>
Build-Depends: debhelper (>= 7.0.50~), python-support, python, python-setuptools
Standards-Version: 3.9.1
Homepage: http://pypi.python.org/pypi/morbid

Package: python-morbid
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-stomper, python-twisted-core, python-twisted-web, python-zope.interface, python-cjson | python-simplejson | python (>= 2.6)
Provides: ${python:Provides}
Description: Twisted-based messaging broker using the STOMP protocol
 Morbid is a Twisted-based publish/subscribe messaging server that uses the
 STOMP protocol.
 . 
 It is named Morbid because it is a sin against humanity. Whoever writes
 new MQs without good reason should be shot. Morbid exists only to provide
 basic publish/subscribe functionality to orbited users that don't know how
 to download and start a real message queue. For some reason, no one likes
 the idea of doing anything in a reasonable, coherent way with more than
 one process, ever.
 .
 If you want a real message queue that speaks STOMP (or some almost-STOMP)
 then check out RabbitMQ (www.rabbitmq.com) or ActiveMQ
 (http://activemq.apache.org/).
